<p>This page should display the game_sessions the current user asked to participate in</p>

<% @game_sessions.each do |game_session| %>
   <p><%= game_session.game.name %></p>
   <p><%= game_session.date %></p>
<% end %>
