<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
  <%= link_to root_path do %>
    <i class='fas fa-dice navbar-brand' style="color: grey;"> Home</i>
  <% end  %>
  <a href="#" style="text-decoration: none; color: grey">Board game rules</a>
</nav> -->
